/* 달력 전체 배경 */
.react-datepicker {
  font-family: "Pretendard", sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* 선택된 날짜 스타일 */
.react-datepicker__day--selected {
  background-color: #f97316; /* orange-500 */
  color: white;
}

/* 오늘 날짜 */
.react-datepicker__day--today {
  font-weight: bold;
  color: #f97316;
}

/* 비활성 날짜 */
.react-datepicker__day--disabled {
  color: #ccc;
}

/* 요일 헤더 */
.react-datepicker__day-name {
  font-weight: 600;
  color: #555;
}

/* 날짜 hover */
.react-datepicker__day:hover {
  background-color: #ffe9d5;
  border-radius: 50%;
}
.time-table {
  position: absolute;
}
